body {
  background: black;
  color: white;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#game {
  width: 1000px;
  height: 800px;
  position: relative;
  border: solid black 1px;
  float: left;
}

#lander {
  position: absolute;
  width: 100px;
  height: 80px;
  background: url(./lander.png);
  background-size: contain;
  left: 450px;
}

#flame {
  position: absolute;
  width: 20px;
  height: 50px;
  background: url(./flamme.png);
  background-size: cover;
  left: 490px;
}

#status {
  font-size: 30px;
}

#moon {
  background: url(./moon.jpg);
  position: fixed;
  left: 0;
  right: 0;
  top: 800px;
  bottom: 0;
}

#explosion {
  width: 100px;
  height: 100px;
  background: url(./explosion.gif);
  background-size: cover;
  position: absolute;
  left: 450px;
  bottom: 0;
  display: none;
}
